@using Shop.Web.ViewModels.Orders
@using Shop.Contracts.Orders
@model OrderDetailsViewModel

@{
    ViewData["Title"] = $"Orden #{Model.Order.Id}";
}

<h1>Detalle de la orden</h1>

<p>
    <strong>Id:</strong> @Model.Order.Id <br />
    <strong>Fecha:</strong> @Model.Order.CreatedAt.ToLocalTime() <br />
    <strong>Estado:</strong> @Model.Order.Status <br />
    <strong>Total:</strong> @Model.Order.TotalAmount.ToString("C")
</p>

@if (Model.Order.Status == OrderStatus.Pending)
{
    <form asp-controller="Payments" asp-action="Pay" method="post" class="mb-3">
        @Html.AntiForgeryToken()
        <input type="hidden" name="orderId" value="@Model.Order.Id" />
        <button type="submit" class="btn btn-success">
            Pagar esta orden
        </button>
    </form>
}
else if (Model.Order.Status == OrderStatus.Paid)
{
    <p><span class="badge bg-success">Orden pagada</span></p>
}

<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio unitario</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Order.Items)
        {
            <tr>
                <td>@item.ProductTitle</td>
                <td>@item.UnitPrice.ToString("C")</td>
                <td>@item.Quantity</td>
                <td>@(item.UnitPrice* item.Quantity).ToString("C")</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index" class="btn btn-secondary">Volver a mis órdenes</a>
